* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    height: 100%;
    /* border: 1px solid red; */
}

.header {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 999;
}

nav {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    /* border: 1px solid red; */
}

.header-logo {
    margin-right: auto;
}

#menu-bar {
    display: none;
    border: none;
    background: inherit;
}

.header-ul {
    display: flex;
    align-items: center;
    width: 550px;
    justify-content: space-between;
}

.header-li {
    font-size: 15px;
    font-weight: 400;
}

.header-li a {
    color: black;
    padding: 5px;
    transition: color ease 0.15s, border ease 0.15s;
}

.header-li a:hover {
    color: #00BAFC;
    border-bottom: 1px solid #00BAFC;
}

.link {
    display: inline-block;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding: 10px 16px;
    background-color: #00BAFC;
    border-radius: 5px;
}

.header-phone {
    margin-left: 25px;
}

.blue {
    transition: background-color ease 0.15s, box-shadow ease 0.25s;
}

.blue:hover {
    background-color: #008cff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.section1 {
    padding: 150px 0 100px;
}

.section1-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section1-text-part {
    width: 45%;
}

.section1-video-part {
    width: 45%;
    height: 255px;
}

.section1-iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.section1-title {
    font-size: 30px;
    font-weight: 700;
}

.section1-subtext {
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 24px;
    line-height: 1.7;
}

.section2 {
    text-align: center;
    margin-bottom: 50px;
}

.text {
    width: 719px;
    margin: 16px auto 48px;
    line-height: 1.5;
}

.section2-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 570px;
    margin-bottom: 50px;
}

.section2-li {
    padding-top: 25px;
    width: 320px;
    height: 260px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    transition: transform ease 0.15s, box-shadow ease 0.15s;
}

.section2-li:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px lightgray;
}

.li {
    margin-bottom: 35px;
}

.section2-li-text {
    font-size: 20px;
    font-weight: 700;
    margin: 16px 0;
}

.section2-links {
    margin: 0 auto;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link2 {
    display: block;
    color: #00BAFC;
    text-decoration: underline;
    transition: transform ease 0.15s, text-shadow ease 0.1s;
}

.link2:hover {
    transform: translateY(-3px);
    text-shadow: 0 2px 5px lightgray;
}

.section3 {
    text-align: center;
    padding: 50px 0;
}

.section3-ul {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 832px;
    /* border: 1px solid red; */
}

.section3-li {
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.even {
    display: flex;
    flex-direction: row-reverse;
}

.section3-li-text {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
}

.section3-text-wrapper {
    width: 493px;
    text-align: left;
}

.section3-link {}

.section4 {
    background-color: #00BAFC;
    text-align: center;
    padding: 56px 0 64px;
}

.section4-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.section4-text {
    color: white;
}

.section4-form {
    width: 348px;
    height: 304px;
    margin: 0 auto;
    background-color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.section4-input {
    padding: 16px;
    width: 300px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #F3F3F3;
}

.section4-input::placeholder {
    color: black;
}

footer {
    background-color: #191919;
    padding: 56px 0;
}

.footer-wrapper {
    display: flex;
    color: white;
    width: 96%;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.copyright {
    width: 320px;
    margin-right: 100px;
}

.copyright-text {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.sites {
    margin-right: 90px;
}

.sites-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.sites-li {
    margin-bottom: 8px;
}

.sites-li a {
    transition: color ease 0.15s;
}

.sites-li a:hover {
    color: white;
}

.media {
    display: flex;
    flex-direction: column;
}

.media a {
    transition: color ease 0.15s;
}

.media a:hover {
    color: white;
}

.media-title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
}

.media-icon {
    font-size: 22px;
    margin-bottom: 9px;
}

.media-icon p {
    vertical-align: middle;
    display: inline-block;
    margin-left: 8px;
    font-size: 16px;
}

footer a {
    color: gray;
}

@media (max-width: 1160px) {
    .container {
        width: 1040px;
    }

    .section2-li {
        width: 300px;
    }

    .section1-subtext {
        width: 80%;
    }

}

@media (max-width: 1060px) {
    .container {
        width: 940px;
    }

    .section2-li {
        width: 250px;
    }
}

@media (max-width: 960px) {
    .container {
        width: 840px;
    }

    .section2-li {
        width: 320px;
    }

    .section2-ul {
        justify-content: space-evenly;
    }
}

@media (max-width: 860px) {
    .container {
        width: 740px;
    }

    .header-ul {
        order: 1;
        margin-top: 15px;
    }

    .header-nav {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0;
    }

    .header-phone {
        margin: 0;
        padding: 5px 7px;
    }

    .header-logo {
        margin-right: 50px;
    }

    .section1-wrapper {
        flex-direction: column;
    }

    .section1-text-part {
        text-align: center;
        width: 60%;
        margin-bottom: 25px;
    }

    .section1-title {
        font-size: 33px;
    }

    .section1-subtext {
        margin-left: auto;
        margin-right: auto;
    }

    .section1-video-part {
        width: 80%;
    }

    .section1-iframe {
        height: 300px;
    }

    .text {
        width: 60%;
    }

    .section3-ul {
        width: 95%;
    }

    .section3-li {
        justify-content: space-between;
    }

    .section3-text-wrapper {
        width: 50%;
    }
}

@media (max-width: 760px) {
    .container {
        width: 640px;
    }

    .section2-li {
        width: 300px;
    }

    .media-icon p,
    .sites-li a,
    .copyright-subtext {
        font-size: 14px;
    }
}

@media (max-width: 660px) {
    .container {
        width: 540px;
    }

    .section1-text-part {
        width: 80%;
    }

    .section1-iframe {
        height: 240px;
    }

    .section2-li {
        width: 320px;
    }

    .section3-ul {
        width: 85%;
    }

    .section3-li-img {
        width: 200px;
    }

    .section3-li-text {
        font-size: 16px;
    }

    .section3-li-subtext {
        font-size: 13px;
    }

    .copyright-text {
        font-size: 16px;
    }

    .copyright-subtext {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .container {
        width: 440px;
    }

    .section3-li-img {
        width: 150px;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .copyright {
        margin-bottom: 35px;
        width: 100%;
        margin-right: 0;
    }

    .text {
        width: 70%;
    }

    .section1-iframe {
        height: 200px;
    }

    .section1-title {
        font-size: 30px;
    }
}

@media (max-width: 460px) {
    .container {
        width: 340px;
    }

    nav {
        height: 56px;
    }

    .header-nav {
        justify-content: center;
    }

    .header-ul {
        display: none;
    }

    .header-logo {
        margin-right: auto;
    }

    #menu-bar {
        display: inline-block;
        /* border: 1px solid red; */
        font-size: 15px;
        align-self: center;
    }

    .header-phone {
        padding: 8px 14px;
        margin-left: 15px;
    }

    .section1-title {
        font-size: 28px;
    }

    .section1-subtext,
    .text {
        font-size: 14px;
    }

    .section1-text-part {
        width: 100%;
    }

    .section1-video-part {
        width: 100%;
    }

    .text {
        width: 100%;
    }

    .section3-ul {
        width: 95%;
    }

    .copyright-subtext {
        font-size: 12px;
    }

    .sites-title {
        font-size: 16px;
    }

    .media-title {
        font-size: 16px;
    }

    .section1 {
        padding-top: 100px;
    }

    .section2-links {
        flex-direction: column;
    }

    .link1 {
        margin-bottom: 15px;
    }
}

@media (max-width: 425px) {
    .container {
        width: 320px;
    }

    .header-nav {
        width: 100%;
    }

    .header-logo {
        width: 50px;
        margin-right: 45px;
    }

    .header-phone {
        padding: 5px 7px;
        font-size: 10px;
    }

    .section1 {
        padding-top: 100px;
        padding-bottom: 20px;
    }

    .section1-title {
        font-size: 20px;
    }

    .section1-subtext {
        font-size: 12px;
    }

    .text {
        font-size: 12px;
    }

    .section1-link {
        font-size: 10px;
        padding: 5px 7px;
    }

    .section2-links {
        flex-direction: column;
    }

    .link1,
    .blue {
        font-size: 12px;
        padding: 5px 7px;
    }

    .link2 {
        font-size: 12px;
    }

    .section4-form {
        width: 280px;
        min-height: 250px;
    }

    .section1-iframe {
        height: 200px;
    }

    .section1-video-part {
        width: 90%;
    }

    .section1-text-part {
        width: 85%;
    }

    .section2-li {
        width: 250px;
    }

    .section2-links {
        width: 290px;
    }

    .section4-input {
        width: 250px;
    }

    .section3-li {
        flex-direction: column;
        align-items: center;
    }

    .section3-text-wrapper {
        width: 90%;
        text-align: center;
    }

    .copyright-text,
    .sites-title,
    .media-title {
        font-size: 12px;
    }

    .copyright-subtext {
        font-size: 10px;
    }

    .sites-li a,
    i p {
        font-size: 12px;
    }
}

@media (max-width: 385px) {
    .container {
        width: 90%;
    }

    .section1-wrapper {
        width: 100%;
    }

    .section2-title,
    .section4-title {
        width: 100%;
    }
}